@use "../abstracts/" as *;

.option-card {
  cursor: pointer;
  padding: 1.25rem;
  border: 0.5px solid hsl($clr-text-accent);
  border-radius: 5px;

  &.selected {
    border-color: hsl($clr-primary);

    .option-card__icon path {
      fill: hsl($clr-primary);
    }
  }

  &__icon {
    margin-bottom: 0.5rem;
  }

  &__heading {
    @extend %font-bold;
    color: hsl($clr-text-form);
    margin-bottom: 0.25rem;
  }

  &__desc {
    color: hsl($clr-text-neutral);
    max-width: 15ch;
  }
}
