@use "../abstracts/" as *;

:root {
  --fs-400: 0.875rem;
  --fs-500: 1.5rem;

  @include respond-to(small) {
    --fs-600: 2rem;
  }
}

body {
  font-family: $ff-primary;
  font-size: var(--fs-400);
}
