@use "../abstracts/" as *;

.onboarding {
  --flow-spacer-sm: 1.5rem;
  --flow-spacer-lg: 2.5rem;

  @include respond-to(small) {
    --flow-spacer-lg: 4rem;
  }

  @extend %center;
  padding: 2rem 1rem;
  min-height: 100vh;

  &__header {
    @include flex($gap: 0.25rem);
    margin-bottom: var(--flow-spacer-lg);
  }

  &__heading {
    font-size: var(--fs-500);
    line-height: 1;
    letter-spacing: -0.01em;
  }

  .stepper {
    margin-bottom: var(--flow-spacer-lg);
  }

  &__success-icon {
    margin-inline: auto;
    margin-bottom: var(--flow-spacer-sm);
  }

  &__step-heading,
  &__step-desc {
    text-align: center;
  }

  &__step-heading {
    font-size: var(--fs-500);
    margin-bottom: 0.1em;

    @include respond-to(small) {
      font-size: var(--fs-600);
    }
  }

  &__step-desc {
    font-size: var(--fs-300);
    color: hsl($clr-text-neutral);
  }

  &-form {
    @include max-container(25rem);
    margin-top: var(--flow-spacer-lg);

    > *:not(:last-child) {
      margin-bottom: var(--flow-spacer-sm);
    }

    &__options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      grid-gap: var(--flow-spacer-sm);
    }
  }
}
