/* Colors */
$clr-primary: 250 75% 60%;
$clr-text-primary: 221 31% 12%;
$clr-text-accent: 227 13% 87%;
$clr-text-form: 220 19% 34%;
$clr-white: 0 0% 100%;
$clr-warning: 351 84% 54%;

/* Font family */
$ff-primary: Inter;

/* Breakpoints */
$breakpoints: (
  "small": 40rem,
  "medium": 64rem,
  "large": 80rem
);
